*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
#header{
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.6), 0 2px 10px 0 rgba(0,0,0, 0.6);
	background-color: white;
	padding-top: 10px;
	padding-left: 20px;
	color: black;
	height: 58px;
	border-bottom: 2px solid gray;
}
.logo{ 
	float: left;
	position: absolute;
	bottom: 92%;
	left: 20px;
	background-image: url("../images/logo.png");
	background-size: cover;
	width: 150px;
	height: 100px;
}
body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/exploreback.jpg");
	background-size: cover;
	background-position: center;
}
ul li{
	display: inline-block;
	float: right;
}
li a{
	position: relative;
	top: 10px;
	margin-right: 20px;
	text-decoration: none;
	color: black;
	border: 1px solid transparent;
	border-radius: 20px;
	padding:5px;
}
li a .material-icons, .fas{
	padding-right: 5px;
	font-size: 15px;
}
ul li a:hover{
	background-color: gray;
	color: white;
	transition: 0.6s ease;
}
header h1{
	font-family: 'Playfair Display', serif;
	border-bottom: 1px solid gray;
	text-align: center;
	color: #28F71A;
	padding-bottom: 15px;
}
header h2{
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #EE7A13;
}
div h2{
	border-bottom: 1px solid gray;
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: white;
}
header p{
	color: #fff;
	margin: 50px;
}
p{
	color: white;
}
.wrapper{
	padding-bottom: 30px;
}
.wrapper ul{ 
	font-size:15px; 
	position: relative;
	left: 500px;
	display: inline-block;
}
.wrapper li a{
	color: white;
	position: relative;
	top: 0px;
	border: 2px solid white;
}
.container{
	border-radius: 20px;
	max-width: 800px;
	margin: auto;
	background-color: transparent;
	overflow: auto;
}
.contents{
	padding: 20px;
	/*margin: 100px;*/
	border-bottom:2px solid gray;
	float: left
	width: 390px;
	overflow: hidden;
}
.contents img{
	width:100%;
	height: auto;
}
img{
	border-radius: 20px;
}
img:hover{
	opacity:;
	transition: .3s transform;
}
.footer{
	padding-top: 30px;
	text-align: center;
	color: white;
	height:90px;
	background-color: #000;
	border-top: 2px solid gray;
}